*{
    margin: 0;
    padding: 0;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

/* top banner and background */
.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(202, 228, 236, .5),rgba(202, 228, 236, .5)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.topBanner{
    width: 100%;
    height: 120px;
    background-image: linear-gradient(rgb(144, 88, 147),rgb(144, 88, 147));
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    color: rgb(238, 238, 238);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: ' ';
    height: 3px;
    width: 0;
    background: #fdfdfd;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

/* about me section */
.aboutMePic img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    width:50%;
    max-width: 20%;
    height: auto;
    image-rendering: linear-gradient;
    border: 5px solid rgb(11, 7, 7);
    border-radius: auto;
}
.aboutMeText{
    text-align:center;
    margin-left:5%;
    margin-right:5%;
    max-width: 90%;
    height: auto;
}
